body {
    background-color: yellow;
  }

.header{
    padding: 14px;
    text-align: center;
    background: maroon;
    color: white;
    font-size: 20px;
}

button{
    background-color:white;
    border:solid ;
    color: maroon;
    padding: 15px 20px;
    display:inline-flexbox;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer; 
}
 button:hover{
    background-color:maroon;
    color:black;
 }
